In [3]:
#create dependecies to be used
import os
import sys
import pandas as pd

In [4]:
#read in the files to be used
poll1 = pd.read_csv('election_data_1.csv')
poll2 = pd.read_csv('election_data_2.csv')

In [7]:
#check for the status of dataframe on first data set
type(poll1)

pandas.core.frame.DataFrame

In [8]:
#check for the status of dataframe on second data set
type(poll2)

pandas.core.frame.DataFrame

In [11]:
#check column setup for poll1
poll1.columns

Index(['Voter ID', 'County', 'Candidate'], dtype='object')

In [12]:
#check column setup for poll2
poll2.columns

Index(['Voter ID', 'County', 'Candidate'], dtype='object')

In [13]:
#combine the two datafromes
poll_total = poll1.append(poll2)
poll_total

         Voter ID      County Candidate
0         1405627      Harsaw    Vestal
1         1711723  Mershville    Vestal
2         1550639  Matterdawn    Vestal
3         1042621      Harsaw    Vestal
4         1583965  Matterdawn    Vestal
5         1943299  Mershville    Vestal
6         1880982      Harsaw    Torres
7         1305689      Harsaw    Torres
8         1759114  Mershville    Vestal
9         1745020  Matterdawn      Seth
10        1562401      Harsaw    Vestal
11        1467337      Porpus    Torres
12        1091170  Matterdawn    Torres
13        1947604      Harsaw    Vestal
14        1400758  Mershville    Torres
15        1009045  Matterdawn    Vestal
16        1246891  Matterdawn    Cordin
17        1744120  Matterdawn    Vestal
18        1571939  Mershville    Vestal
19        1936895  Matterdawn    Vestal
20        1122582  Matterdawn    Torres
21        1307503  Mershville    Torres
22        1594030      Harsaw    Torres
23        1072081  Mershville    Torres
24        1368919  Mershville    Vestal
25        1954121      Harsaw    Torres
26        1427438  Matterdawn    Vestal
27        1049416      Porpus    Torres
28        1619112      Harsaw    Torres
29        1725473  Mershville    Vestal
...           ...         ...       ...
1048545  13646594       Marsh      Khan
1048546  17099002       Bamoo    Correy
1048547  15157227       Marsh      Khan
1048548  15217932       Marsh      Khan
1048549  11847587       Bamoo      Khan
1048550  18182674       Marsh      Khan
1048551  11826884       Queen    Correy
1048552  10935101       Marsh      Khan
1048553  14151060       Marsh        Li
1048554  11025089       Marsh      Khan
1048555  17333106       Marsh      Khan
1048556  16140798       Marsh      Khan
1048557  10583535       Marsh    Correy
1048558  15814688       Marsh      Khan
1048559  16895214       Marsh      Khan
1048560  17290885       Marsh      Khan
1048561  11415609       Bamoo      Khan
1048562  15397922     Trandee        Li
1048563  12409399       Marsh      Khan
1048564  17708574       Queen        Li
1048565  19748014       Queen    Correy
1048566  15516808       Bamoo      Khan
1048567  11345111       Bamoo      Khan
1048568  13469777       Marsh      Khan
1048569  13477300       Marsh      Khan
1048570  15257733       Marsh      Khan
1048571  18621583       Marsh      Khan
1048572  15990024       Queen      Khan
1048573  11307924       Marsh      Khan
1048574  15590933       Marsh      Khan

[1851575 rows x 3 columns]